body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(235, 235, 235);
}

#formContainer{
  width: 35%;
  float: left;
  height: auto;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 2rem;
  margin-top: 2rem;
}

#viewDiv {
  padding: 20px;
  margin: auto;
  height: 75%;
  width: 50%;
  position: relative;
}

h1{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 20px;
  top: 0;
  background-color: #6f008b;
  color: rgb(255, 255, 255);
}

#formContainer label{
  margin-bottom: 1rem;
  color: rgb(75, 74, 74);
  font-weight: bold;

}

#formContainer input{
  border-radius: 10px;
  border: 1px solid darkgray;
  padding: 4px;
  width: 60%;
  height: 40%;
}

.input-label{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#submitBtn, #resetBtn{
    display:inline-flexbox;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  
  #submitBtn{
    background-color:  #007AC2;
    border: 1px solid rgba(52, 119, 206, 0.747);
  }

  #submitBtn:hover{
    background-color: #065786;
  }
  #resetBtn{
    background-color: #be4242be;
  }

  #resetBtn:hover{
    background-color: #ad2e2ecc;
  }

  h2{
    font-size: 20px;
    left: 25%;
    position:relative;
    margin-top: 0.5rem;
    color:#414142;
  }

  select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
  }
  